<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Servicios</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">

        <h2>Listado de Servicios</h2>

        <a th:href="@{/servicios/create}" class="btn btn-primary">
            Nuevo Servicio
        </a>
    </div>

    <table class="table table-striped table-hover table-bordered">

        <thead class="table-dark">

        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="s:${servicios}">

            <td th:text="${s.id}"></td>

            <td th:text="${s.descrip}"></td>

            <td th:text="${s.activo ? 'si' : 'no'}"></td>

            <td>
                <a th:href="@{/servicios/edit/{id}(id=${s.id})}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a th:href="@{/servicios/delete/{id}(id=${s.id})}"
                   class="btn btn-danger btn-sm"
                onclick="return confirm ('¿Estas seguro que desea eliminar este servicio');">
                    Eliminar
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>