<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
th:fragment="navbar">
<div class="container-fluid">

    <a class="navbar-brand"
       th:href="@{/}">
        Servicio Técnico
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="menu">

        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    Inicio
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    General
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           th:href="@{/usuarios}">
                            Usuarios
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item"
                           th:href="@{/roles}">
                            Roles
                        </a>
                    </li>
                    </ul>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">

                            Administración

                        </a>

                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/tiposdoc}">
                                    Tipos de Documento
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/motivosreclamo}">
                                    Motivos de Reclamo
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/reclamosestado}">
                                    Estados de Reclamo
                                </a>
                            </li>
                            </ul>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">

                    Gesion de Reclamos

                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a class="dropdown-item"
                           th:href="@{/clientes}">
                            Clientes
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item"
                           th:href="@{/contratos}">
                            Contratos
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item"
                           th:href="@{/servicios}">
                            Servicios
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item"
                           th:href="@{/reclamos}">
                            Reclamos
                        </a>
                    </li>
                    </ul>


        </ul>

    </div>
</div>
</nav>
</body>
</html>