<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" lang="en">

<head>

    <meta charset="UTF-8">
    <meta meta="viewport" content="width=device-width, initial-scale=1">

    <title>Nuevo Motivo de Reclamo</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Nuevo Motivo de Reclamo</h4>
        </div>

        <div class="card-body">

  <form th:action="@{/motivosreclamo/save}"
        th:object="${motivosreclamo}"
        method="post">

      <input type="hidden" th:field="*{id}">

      <div class="row">

      <div class="col-md-6">
          <label class="form-label">
              Descripcion
          </label>

          <input type="text"
          class="form-control"
          th:field="*{descrip}">
      </div>

          <div class="mb-3">
              <label class="form-label">
                  Baja
              </label>

              <input type="checkbox"
                     class="form-chek-input"
                     th:field="*{baja}">
          </div>
      </div>

      <div class="mt-4">
          <button type="submit"
                  class="btn btn-success">
              Guardar
          </button>
          <a th:href="@{/motivosreclamo}"
             class="btn btn-secondary">
              Cancelar
          </a>
      </div>


  </form>

</div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>