<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Estados de Reclamos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">

        <h2>Listado de Estados de Reclamos</h2>

        <a th:href="@{/reclamosestado/create}" class="btn btn-primary">
            Nuevo Estado de Reclamo
        </a>
    </div>

    <table class="table table-striped table-hover table-bordered">

        <thead class="table-dark">

        <form th:action="@{/reclamosestado/search}" method="get" class="row mb-4">

            <div class="col-md-6">
                <input type="text"
                       name="search"
                       class="form-control"
                       placeholder="Buscar por descripcion">
            </div>

            <div class="col-md-2">
                <button type="submit"
                        class="btn btn-primary">
                    Buscar
                </button>
            </div>

            <div class="col-md-2">
                <a th:href="@{/reclamosestado/search}"
                   class="btn btn-secondary">
                    Limpiar
                </a>
            </div>

        </form>

        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Prioridad</th>
            <th>Baja</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="r:${reclamosestado}">

            <td th:text="${r.id}"></td>

            <td th:text="${r.descrip}"></td>

            <td th:text="${r.prioridad}"></td>

            <td th:text="${r.baja ? 'si' : 'no'}"></td>

            <td>
                <a th:href="@{/reclamosestado/edit/{id}(id=${r.id})}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a th:href="@{/reclamosestado/delete/{id}(id=${r.id})}"
                   class="btn btn-danger btn-sm"
                onclick="return confirm ('¿Estas seguro que desea eliminar este estado de reclamo');">
                    Eliminar
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>